@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 200px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.call {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0px 2px 10px #111;
  right: 20px;
  bottom: 30px;
  z-index: 9999;
  color: #111;
}

.call:hover {
  transform: scale(1.05);
}

.call:hover:before {
  content: "Call Us";
  font-size: 13px;
  position: absolute;
  left: -65px;
  background-color: #111;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}

.whtsapp:hover:before {
  content: "Whatsapp";
  left: 65px;
}
.whtsapp {
  left: 20px;
  bottom: 30px;
  font-size: 25px;
  background: rgb(30, 190, 165);
  background: linear-gradient(
    45deg,
    rgba(30, 190, 165, 1) 0%,
    rgba(30, 190, 165, 1) 28%,
    rgba(37, 211, 102, 1) 100%
  );
}

#navbar {
  position: fixed;
  height: 60px;
  padding: 0 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.navbar .menu-btn {
  display: none;
  color: #111;
  border: 1px solid rgba(255, 217, 0, 0.541);
  padding: 0 8px;
}

.navbar.sticky .menu-btn {
  color: #fff;
}

.navbar.sticky {
  background-color: dodgerblue;
  border-bottom: 1px grey solid;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.collapse-navbar {
  text-align: center;
  list-style: none;
  position: relative;
}

.collapse-navbar li {
  width: 100px;
  display: inline-block;
  margin: 0;
  position: relative;
}

.collapse-navbar li a {
  color: black;
  text-decoration: none;
}

.navbar.sticky .collapse-navbar li a {
  color: #fff;
}

.indicator {
  position: absolute;
  width: 100px;
  height: 25px;
  left: 0px;
  bottom: 0;
  transition: 0.5s;
}

.indicator:before {
  content: " ";
  height: 5px;
  width: 5px;
  background-color: dodgerblue;
  position: absolute;
  border-radius: 100%;
  bottom: -6px;
  transition: 0.5s;
}

.navbar.sticky .indicator:before {
  background-color: #fff;
}

.collapse-navbar li.active a {
  color: dodgerblue;
  font-size: 18px;
}

.collapse-navbar li:hover a {
  color: dodgerblue;
  font-size: 18px;
}

.navbar.sticky .collapse-navbar li:hover a {
  color: #fff;
}

.logo {
  padding-top: 10px;
  height: 100%;
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: 700;
}

.navbar.sticky .logo a {
  color: #fff;
}

section {
  width: 100vw;
  height: 100vh;
}

/*=============================================
=            Section Pop up box            =
=============================================*/

.popup {
  opacity: 1;
  top: -200%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  z-index: 998;
  width: 400px;
  height: 320px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 5px 10px #111;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out,
    transform 1000ms ease-in-out;
}

.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup .icon {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #34f234;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #34f234;
}

.popup .title {
  margin: 10px 0;
  font-weight: 500;
}

.popup .desc {
  color: #222;
  font-size: 17px;
  padding: 5px;
}

.popup #dismiss-btn {
  margin-top: 15px;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  pointer-events: none;
}

/*=====  End of Section Pop up box  ======*/

/*=============================================
=            Home Section Start              =
=============================================*/

#home {
  overflow: hidden;
  background-color: rgb(231, 255, 255);
  z-index: 100;
  position: relative;
}

#container {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
}

#scene {
  background: url("../images/ce.png") repeat-x center;
  width: 10000px;
  height: 150px;
  animation: slide 20s linear infinite;
  animation-delay: 4s;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-2000px, 0, 0);
  }
}

#car {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: move 5s ease;
}

@keyframes move {
  0% {
    left: -10%;
  }
  100% {
    left: 50%;
  }
}

#tire1,
#tire2 {
  animation: rotate 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#constraint {
  display: flex;
  padding: 0 200px;
  height: 85vh;
  align-items: center;
  justify-content: space-between;
}

#constraint div h1 {
  font-size: 50px;
}

#constraint div #slogan {
  font-size: 20px;
}

#tab {
  width: 450px;
  box-shadow: 0px 2px 8px #111;
}

#tab-link {
  width: 100%;
  display: flex;
  justify-content: stretch;
}

#tab-link button {
  background-color: rgb(223, 219, 219);
  width: calc(450px / 3);
  border: none;
  padding: 5px 0px;
  text-align: center;
  font-size: 15px;
  position: relative;
  border: 1px solid grey;
  transition: all 0.3s;
  cursor: pointer;
}

#tab-link button.active {
  background-color: dodgerblue;
  color: #fff;
}

#tab-link button.active:before {
  content: " ";
  width: 12px;
  height: 12px;
  position: absolute;
  transform: rotate(45deg);
  background-color: dodgerblue;
  left: 50%;
  bottom: -7.5px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  transition: all 0.3s;
}

#forms {
  height: 330px;
  background-color: #fff;
}

#one-way-trip {
  padding: 10px 50px;
  display: none;
}

.label {
  font-size: 15px;
  font-weight: 500;
}

.date,
.time {
  cursor: pointer;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.field-column {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#forms .small-input {
  width: 160px;
  height: 30px;
  text-indent: 3.5px;
  font-size: 12px;
}

.row {
  display: flex;
  justify-content: space-between;
}

#forms .small-input,
#forms .big-input {
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
}

#forms .big-input {
  margin-left: 20px;
  width: 250px;
  height: 30px;
  text-indent: 10px;
}

#forms .big-input:focus,
#forms .small-input:focus {
  border: 2px solid dodgerblue;
}

.btn {
  cursor: pointer;
  padding: 6px 25px;
  margin-top: 15px;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  outline: none;
  color: #fff;
  font-weight: 400px;
  border-radius: 5px;
}

.btn:hover {
  color: dodgerblue;
  background-color: transparent;
  border: 2px solid dodgerblue;
}

#round-trip {
  display: none;
  padding: 10px 30px;
}

#round-trip .small-input {
  width: 125px;
  font-size: 10px;
}

#round-trip .contact-details {
  width: 175px;
}

#local {
  padding: 10px 50px;
}

.constraint {
  padding: 0 200px;
  padding-top: 100px;
  text-align: center;
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/*=====  End of Home Section  ======*/

/*=============================================
=            About Section start             =
=============================================*/

#about {
  position: relative;
  background: floralwhite url("../images/Taxi-Management.png") no-repeat;
  background-size: 600px;
  height: 87vh;
  background-position: 90%;
}

.heading {
  font-size: 40px;
  position: relative;
  width: 200px;
  margin: auto;
}

.heading:before {
  content: "\1F696";
  font-size: 18px;
  position: absolute;
  color: #111;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.heading:after {
  content: " ";
  width: 75%;
  height: 4px;
  position: absolute;
  border-radius: 2px;
  background-color: #111;
  left: 25px;
  bottom: -5px;
}

#about .content {
  z-index: 100;
  width: 600px;
  text-align: left;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
}

.block-text {
  font-weight: 500;
}

#p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
}

/*=====  End of About Section  ======*/

/*=============================================
=            Services Section Start            =
=============================================*/

#services {
  height: auto;
  background-color: floralwhite;
}

#services .constraint {
  height: auto;
}

#services .heading {
  font-size: 35px;
  width: 450px;
}

#services .heading:after {
  left: 50px;
}

.cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  margin: 30px 0;
  width: 45%;
  height: 250px;
  box-shadow: 2px 5px 15px #111;
  transition: all 0.3s ease;
  background-color: #fff;
}

.card .imgbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 219, 182);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.card .imgbx:before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
}

.card:hover .imgbx:before {
  content: " ";
}

.card:hover .imgbx {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  background-color: burlywood;
}

.card .card-content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.card .card-content h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.card i {
  font-size: 80px;
  color: #fff;
}

/*=====  End of Services Section  ======*/

/*=============================================
=            Contact Section Start            =
=============================================*/

#contact {
  background-color: floralwhite;

  padding-bottom: 60px;
}

#contact .heading {
  font-size: 35px;
  width: 200px;
}

#contact .constraint {
  height: auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.wrap {
  width: 100%;
  height: 100%;
  margin: auto;
}

.column {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.box {
  margin: auto;
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
}

.contain {
  display: flex;
  width: 300px;
  margin-bottom: 30px;
  align-items: center;
}

.contain i {
  font-size: 24px;
  color: darkcyan;
}

.contain div {
  margin-left: 30px;
  text-align: left;
}

.contain div p {
  margin-top: 6px;
}

.contain div h4 a {
  color: #111;
  font-weight: 500;
}

.form-wrap {
  display: flex;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#contact-form .input,
#contact-form textarea {
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  width: 450px;
  height: 40px;
  text-indent: 10px;
  margin-bottom: 10px;
}

#contact-form .input:focus,
#contact-form textarea:focus {
  border: 2px solid dodgerblue;
}

#contact-form textarea {
  height: 80px;
  padding-top: 5px;
  resize: none;
}

#contact-form .btn {
  width: 120px;
  margin-top: 10px;
}

/*=====  End of Contact Section End  ======*/

/*=============================================
=            Footer start                    =
=============================================*/

footer {
  font-family: "Poppins", sans-serif;
  background: #111;
  font-size: 13px;
  padding: 3px;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer .name a {
  color: DodgerBlue;
}

/*=====  End of Footer  ======*/

@media (max-width: 1200px) {
  #navbar {
    padding: 0 100px;
  }

  #constraint {
    flex-direction: column;
    justify-content: center;
    height: 110vh;
  }

  #tab {
    margin-top: 50px;
  }

  #home {
    height: 130vh;
  }

  .constraint {
    padding: 0 100px;
    padding-top: 80px;
  }

  #about {
    background-position: 90% 90%;
    background-size: 400px;
    height: 120vh;
  }
}

@media (max-width: 1024px) {
  #navbar {
    padding: 0 100px;
  }
  #services .constraint {
    padding: 0 80px;
  }
  .left {
    width: 40%;
  }
  .right {
    width: 60%;
  }
  .card:nth-child(3) .imgbx:before {
    font-size: 3em;
  }
}

@media (max-width: 950px) {
  #contact {
    height: auto;
  }

  .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  .column {
    width: 100%;
  }

  .cards {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .card {
    width: 400px;
  }
  .card .imgbx:before {
    font-size: 3em;
  }
}

@media (max-width: 768px) {
  #navbar .menu-btn {
    display: block;
    z-index: 999;
    color: #111;
  }

  #navbar.sticky .menu-btn {
    color: #fff;
  }

  .indicator {
    display: none;
  }

  #navbar {
    padding: 0 50px;
  }

  .navbar .collapse-navbar {
    position: fixed;
    background-color: #111;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .collapse-navbar {
    right: 0;
  }

  #navbar.active .menu-btn {
    color: #fff;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .collapse-navbar li {
    display: block;
  }

  .navbar .collapse-navbar li a {
    display: inline-block;
    color: #fff;
    margin: 20px 0;
    font-size: 18px;
  }

  #navbar.active .collapse-navbar li.active a {
    font-size: 20px;
    color: dodgerblue;
  }

  #constraint {
    padding: 0 20px;
  }

  #constraint div h1 {
    font-size: 35px;
  }
  #constraint div #slogan {
    font-size: 15px;
  }

  #about .heading {
    font-size: 30px;
  }

  #about .content {
    width: 100%;
  }
  .constraint {
    padding: 0px 50px;
    padding-top: 60px;
  }

  #services {
    padding-top: 70px;
  }
}

@media (max-width: 600px) {
  .card {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }

  .card:nth-child(4) {
    margin-bottom: 0px;
  }

  .card:hover .imgbx:before {
    content: attr(data-text);
  }

  .card .imgbx {
    position: relative;
  }
  .card .imgbx,
  .card:hover .imgbx {
    width: 100%;
    height: 200px;
    left: 0;
  }

  .card:nth-child(3) .imgbx:before {
    font-size: 2.6em;
  }

  .card .card-content {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 550px) {
  #tab {
    width: 300px;
  }

  #tab-link button {
    width: calc(300px / 3);
    font-size: 10px;
  }

  #one-way-trip,
  #round-trip,
  #local {
    padding: 10px 12px;
  }

  .label {
    font-size: 10px;
  }

  #froms .small-input,
  #forms .big-input {
    font-size: 10px;
  }

  #forms .small-input {
    width: 135px;
  }

  #round-trip .row {
    flex-wrap: wrap;
  }

  #round-trip .field-column {
    margin-top: 10px;
  }

  #forms .big-input {
    width: 200px;
  }

  .constraint {
    padding: 0px 30px;
    padding-top: 80px;
  }

  #about .content {
    margin-top: 30px;
    font-size: 14px;
  }

  #about {
    background-position: 80% 95%;
  }

  #services .constraint {
    padding: 0 50px;
  }

  #services .heading {
    font-size: 25px;
    width: 300px;
  }
}

@media (max-width: 500px) {
  #contact-form .input,
  #contact-form textarea {
    width: 300px;
  }
}

@media (max-width: 426px) {
  #navbar {
    padding: 0 20px;
  }

  footer {
    font-size: 10px;
  }

  .call {
    right: 10px;
    bottom: 15px;
    width: 37px;
    height: 37px;
    font-size: 18px;
  }
  .whtsapp {
    left: 10px;
  }

  #about {
    background-size: 310px;
  }

  #about .heading {
    font-size: 28px;
  }
  #about .content {
    font-size: 12.5px;
  }
  #p {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #services .constraint {
    padding: 0 5px;
  }

  #services .constraint {
    height: auto;
    padding-bottom: 50px;
  }

  .cards {
    margin-top: 25px;
  }

  .card {
    margin-left: 0px;
  }

  .popup {
    width: 300px;
    height: 350px;
  }
}

@media (max-width: 350px) {
  #services .heading {
    width: 270px;
    font-size: 20px;
  }
}
